body {
    font-weight: bolder;
    font-family: "Noto Sans", sans-serif;
    color: white;
    background-color: #722E7F;
}

.oszlop {
    height: 25em;
    width: 18em;
    margin: 0.2em;
    margin-bottom: 1.9em;
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto 0;
    margin-right: 20px;
}

.en {
    background-image: url(../emberek/en.png);
}

.beni {
    background-image: url(../emberek/beni.png);
}

main {
    padding-top: 50px;
}

.geri {
   background-image: url(../emberek/geri.png);
}
.flex{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto 0;
}