body{
    background-color: #722E7F;
}
.flex-container{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto 0;
    
}
.imag{
    height: 18em;
    width: 25em;
    margin: 0.2em;
    margin-bottom: 1.9em;
    
    background-size:cover;
    background-position: center;
    
}

h1{
    text-align: center;
    color: white;
    margin: 2em;
}
.freddy{
    background-image: url(./kepek/OMG\ GUYS\ IS\ THAT\ FREDDY\ FAZBEAR.jpg);   
}
.whistle{
    background-image: url(./kepek/Whsitle.jpg);
}
.smurfcat{
    
    animation: infinite;
    position: relative;
    animation-name: fadein;
    animation-duration: 3s;
    animation-name:KAT;
    animation-duration: 5s;
    
}
.johnpork{
    background-image: url(./kepek/John\ Pork.jpeg);
}
.bober{
    background-image: url(./kepek/bober-kurwa.png);
}
.toothless{
    background-image: url(./kepek/toothless.png);
}
.chipi{
    background-image: url(./kepek/Chipi.jpg);
}
.bird{
    background-image: url(./kepek/Erosion.jpg);
}


.freddy:hover{   
    background-image: url(./Gifek/Freddy.gif);
}
.whistle:hover{
    background-image: url(./Gifek/Whistle.gif);
}
.smurfcat:hover{
    background-image: url(./Gifek/Smurfcat.gif);
    animation-name: kat;
    animation-play-state: paused;
}
.johnpork:hover{
    background-image: url(./Gifek/John\ Pork.gif);
}
.bober:hover{
    background-image: url(./Gifek/Bober.gif);
}
.toothless:hover{
    background-image: url(./Gifek/Toothless.gif);
}
.chipi:hover{
    background-image: url(./Gifek/Chipi.gif);
}
.bird:hover{
    background-image: url(./Gifek/Bird.gif);
}

@keyframes KAT{
    0%{
        background-image: url(./kepek/Smuvurf\ cavat.jpg);
        
    }
    
    60%{
        background-image: url(./kepek/Pineappleowl.png);
    }
    100%{     
        
        background-image: url(./kepek/strawberryelephant.png);
        
    }
        
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    
    to {
      opacity: 1;
    }
}

