body {
    background-color: #722E7F;
    font-family: "Noto Sans", sans-serif;
    font-weight: bolder;
    color: white;
}

.flex-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto 0;

}

h2 {
    font-size: 180%;
    text-align: center;
}

.imag {
    height: 18em;
    width: 25em;
    margin: 0.2em;
    margin-bottom: 1.9em;

    background-size: cover;
    background-position: center;

}

.bezaras {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.leiras {
    position: absolute;
    text-align: center;
    color: white;
    background: rgba(109, 109, 109, 0.72);
    top: 65.6%;
    font-size: 200%;
    left: 0.8%;
    visibility: hidden;
    opacity: 0;
    width: 98.5%;
    line-height: 80%;
    height: 28%;

}

.leiras2 {
    position: absolute;
    text-align: center;
    color: white;
    background: rgba(109, 109, 109, 0.72);
    top: 65.6%;
    font-size: 130%;
    left: 0.77%;
    visibility: hidden;
    opacity: 0;
    width: 98.5%;
    height: 28.3%;
    line-height: 110%;
    margin: 0 auto;
}




h1 {
    text-align: center;
    color: white;
    margin-top: 2em;
    font-size: 260%;
}

.freddy {
    background-image: url(./kepek/OMG\ GUYS\ IS\ THAT\ FREDDY\ FAZBEAR.jpg);
}

.whistle {
    background-image: url(./kepek/Whsitle.jpg);
}

.smurfcat {

    animation: infinite;
    position: relative;

    animation-name: KAT;
    animation-duration: 5s;

}

.johnpork {
    background-image: url(./kepek/John\ Pork.jpeg);
}

.bober {
    background-image: url(./kepek/bober-kurwa.png);
}

.toothless {
    background-image: url(./kepek/toothless.png);
}

.chipi {
    background-image: url(./kepek/Chipi.jpg);
}

.bird {
    background-image: url(./kepek/Erosion.jpg);
}

.bezaras:hover .freddy {
    transition: transform .2s;
    background-image: url(./Gifek/Freddy.gif);
    transform: scale(1.1);
    z-index: 2;

}

.bezaras:hover .whistle {
    background-image: url(./Gifek/Whistle.gif);
    transition: transform .2s;
    transform: scale(1.1);
    z-index: 2;

}

.bezaras:hover .smurfcat {
    animation-name: kat;
    animation-play-state: paused;
    animation-name: GIFEK;
    animation-play-state: running;
    animation-duration: 18s;
    transition: transform .2s;
    transform: scale(1.1);
    z-index: 2;

}

.bezaras:hover .johnpork {
    background-image: url(./Gifek/John\ Pork.gif);
    transition: transform .2s;
    transform: scale(1.1);
    z-index: 2;
}

.bezaras:hover .bober {
    background-image: url(./Gifek/Bober.gif);
    transition: transform .2s;
    transform: scale(1.1);
    z-index: 2;
}

.bezaras:hover .toothless {
    background-image: url(./Gifek/Toothless.gif);
    transition: transform .2s;
    transform: scale(1.1);
    z-index: 2;
}

.bezaras:hover .chipi {
    background-image: url(./Gifek/Chipi.gif);
    transition: transform .2s;
    transform: scale(1.1);
    z-index: 2;
}

.bezaras:hover .bird {
    background-image: url(./Gifek/Bird.gif);
    transition: transform .2s;
    transform: scale(1.1);
    z-index: 2;
}

.bezaras:hover .leiras {
    visibility: visible;
    opacity: 1;
    transition: transform .2s;
    transform: scale(1.1);
    z-index: 3;
}

.bezaras:hover .leiras2 {
    visibility: visible;
    opacity: 1;
    transition: transform .2s;
    transform: scale(1.1);
    z-index: 3;
}



@keyframes KAT {
    0% {
        background-image: url(./kepek/Smuvurf\ cavat.jpg);

    }

    33% {
        background-image: url(./kepek/Pineappleowl.png);
    }

    66% {

        background-image: url(./kepek/strawberryelephant.png);

    }

    100% {
        background-image: url(./kepek/Smuvurf\ cavat.jpg);
    }

}

@keyframes GIFEK {
    0% {
        background-image: url(./Gifek/pineappleowl.gif);
    }

    33% {
        background-image: url(./Gifek/Smurfcat.gif);
    }

    66% {
        background-image: url(./Gifek/Strawberryelephant.gif);
    }

    100% {
        background-image: url(./Gifek/pineappleowl.gif);
    }
}
@media only screen and (max-width: 450px) {

    .imag {
        height: 14rem;
        width: 17.5rem;
        margin: 0.2em;
        margin-bottom: 1.9em;
    
        background-size: cover;
        background-position: center;
    
    }
    .leiras {
        position: absolute;
        text-align: center;
        color: white;
        background: rgba(109, 109, 109, 0.72);
        top: 62.9%;
        font-size: 200%;
        left: 0.8%;
        visibility: hidden;
        opacity: 0;
        width: 98.5%;
        line-height: 80%;
        height: 28%;
    
    }
    
    .leiras2 {
        position: absolute;
        text-align: center;
        color: white;
        background: rgba(109, 109, 109, 0.72);
        top: 62.9%;
        font-size: 130%;
        left: 0.77%;
        visibility: hidden;
        opacity: 0;
        width: 98.5%;
        height: 28.3%;
        line-height: 110%;
        margin: 0 auto;
    }


}
@media only screen and (max-width: 300px) {

    .imag {
        height: 10rem;
        width: 11.8rem;
        margin: 0.2em;
        margin-bottom: 1.9em;
    
        background-size: cover;
        background-position: center;
    
    }
    h1{
        font-size: 200%;
    }
    h2{
        font-size: 160%;
    }
    .leiras {
        position: absolute;
        text-align: center;
        color: white;
        background: rgba(109, 109, 109, 0.72);
        top: 59%;
        font-size: 140%;
        left: 0.8%;
        visibility: hidden;
        opacity: 0;
        width: 97.8%;
        line-height: 80%;
        height: 28%;
    
    }
    
    .leiras2 {
        position: absolute;
        text-align: center;
        color: white;
        background: rgba(109, 109, 109, 0.72);
        top: 59%;
        font-size: 70%;
        left: 0.77%;
        visibility: hidden;
        opacity: 0;
        width: 98.5%;
        height: 28.3%;
        line-height: 110%;
        margin: 0 auto;
    }


}