body{
    background-color: #722E7F;
    font-family: "Noto Sans", sans-serif;
    color: white;
}

.flex-container{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto 0;
}

h1{
    text-align: left;
    color: white;
    margin-left: 10px;
    margin-bottom: 0px;
    font-family: "Noto Sans", sans-serif;
}

#margin {
    margin-bottom: 1em;
}

.link{
    font-size: 0.5em;
    color: white;
}

p {
    margin: 0 auto;
}