body{
    background-color: #722E7F;
}

.flex-container{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto 0;
}

h1{
    text-align: left;
    color: white;
    margin-left: 10px;
    font-family: "Noto Sans", sans-serif;
}

#margin {
    margin-bottom: 100px;
}