body{
    background-color: #722E7F;
    font-family: "Noto Sans", sans-serif;
    color: white;
    font-weight:bolder  ;
}
h1{
    font-size: 5vh;
}
sum{
    font-size: 2vh;
}
table{
    border: 2px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 26vw;
}
a{
    color: white;
    text-decoration: none;
}
td{
    padding-top: 7px;
    text-indent: 4px;
}
td:last-child{
    padding-bottom: 3px;
}