menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: linear-gradient(90deg, rgba(148,34,188,1) 0%, rgba(68,68,68,1) 73%);
    padding: 8px;
    margin-top: -8px;
    margin-left: -8px;
    height: 8vw;
}
.logonagy{
  height: 120%;
  margin-top: -8px;
  margin-left: -8px;
}
.az{  
    display: flex;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 1vw;
    padding:  2vw;
    padding-left: 5vw;
    padding-right: 5vw;
    border: 2px solid rgba(148,34,188,1) ;
    border-radius: 60px;
    font-size: 1.5vw;
    color: white;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    background-color: black ;
}
.logo{
  
  height: 100%;
}
.gomb:hover{
    background-color: #666666;
    border-color: white ;
}
.topnav{
    display: none;
}
@media only screen and (max-width: 686px) {
        .gomb{
            display: none; 
        }
        menu{
          display: none;
        }
        .topnav {
            display: flex;
            position: relative;
            overflow: hidden;
            height: 12vw;
            background: linear-gradient(90deg, rgba(148,34,188,1) 0%, rgba(68,68,68,1) 73%);
          }
          
          .topnav #myLinks {
            display: none;
          }
          
          .topnav a {
            border: none;
            border-radius: 0px;
            text-decoration: none;
            font-size: 3vw;
            display: block;
          }
          
          .topnav a.icon {
            top: 0;
            right: 0;
            height: 100%;
            color: white;
            border: none;
            border-radius: 0px;
            margin: 0px;
            padding-left: 2vw;
            padding-right: 2vw;
            height: 100%;
            background: black;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
          }
  }
